﻿@model IEnumerable<FanMatch.ViewModels.FandomViewModel>

<table class="table table-striped table-bordered">
    <tr>
        <th>Match</th>
        <th>
            Name
        </th>
        <th>
            #
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(f => f.People.Count).ThenBy(f => f.Name)) {
    <tr>
        <td>
            @if (item.HasMatchAvailable())
            {
                <span class="glyphicon glyphicon-star"></span>
            }
        </td>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id=item.Id })
        </td>
        <td>
            @item.People.Count
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
