﻿@using FanMatch

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-2.0.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/underscore-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script>
        $(function () {
            $("#main").on("mouseover", ".fandom-tip", function () {$(this).tooltip('show'); });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-2">
                <div id="header" class="">
                    <div id="title">
                        <h3>FanMatch!</h3>
                    </div>

                    <div id="menucontainer">
                        <ul id="menu" class="nav nav-pills nav-stacked">
                            <li class="@Html.ActiveIfCurrentController("Person")">@Html.ActionLink("People", "Index", "Person")</li>
                            <li class="@Html.ActiveIfCurrentController("Fandom")">@Html.ActionLink("Fandoms", "Index", "Fandom")</li>
                            <li class="@Html.ActiveIfCurrentController("Match")">@Html.ActionLink("Matches", "Index", "Match")</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="main" class="col-md-10">
                @RenderBody()
            </div>
        </div>
        <div id="footer" class="row-fluid">
        </div>
    </div>
</body>
</html>
