﻿@model IEnumerable<FanMatch.Models.Person>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Name
        </th>
        <th></th>
        <th>Fandoms</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    string artistType = "";
    if (item.IsReader && !item.IsWriter)
    {
        artistType = "reader";
    }
    else if (item.IsWriter && !item.IsReader)
    {
        artistType = "writer";
    }
    <tr>
        <td data-artist-type="@(artistType)">
                       @Html.Partial("_PersonTag", item)

        </td>
        <td>
            @Html.Partial("_PersonType", item)
        </td>
        <td>
            @if (item.Fandoms != null)
            {
                @String.Join(", ", item.Fandoms.OrderBy(f => f.Name).Select(f => f.Name))
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Person", new { id=item.Id }, null) |
            @Html.ActionLink("Details", "Details", "Person",  new { id = item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "Person", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
