﻿@model FanMatch.Models.Person

@{
    var fandoms = Model.Fandoms.ToList();
    var s = fandoms.Count == 1 ? "" : "s";
    var interactionPreferences = String.Join(", ", Model.GetInteractionPreferences().Select(ip => (int)ip));

    }

<span class="personTag">
@if (Model.IsReader)
{
    <i class="glyphicon glyphicon-headphones"></i>
}
@if (Model.IsWriter)
{
    <i class="glyphicon glyphicon-book"></i>
}
@if (Model.CanMatchMultiple)
{
    <i class="glyphicon glyphicon-repeat"></i>
}

    <span class="personName">
@Model.Name
    </span>

    (IP: @(interactionPreferences))

(<a class="fandom-tip" data-fandoms="@Json.Encode(fandoms.Select(f => f.Name))" title="@(String.Join(", ", fandoms.Select(f=>f.Name).OrderBy(t => t)))">@fandoms.Count fandom@(s)</a>)
    </span>