﻿@model FanMatch.Controllers.PersonController.PersonEditorViewModel
@using FanMatch.Models;
<script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/underscore-min.js")" type="text/javascript"></script>

<script src="https://fb.me/react-15.0.1.js"></script>
<script src="https://fb.me/react-dom-15.0.1.js"></script>
<script src="@Url.Content("~/Scripts/microevent.js")"></script>

<link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" />

<style>
    span.checkbox {
        display: inline;
        padding-right: 1em;
    }
</style>

<script type="text/javascript">

    window.FanMatchPersonData = {
        Name: "@Model.Person.Name",
        IsWriter: @Json.Encode(Model.Person.IsWriter),
        IsReader: @Json.Encode(Model.Person.IsReader),
        CanMatchMultiple: @Json.Encode(Model.Person.CanMatchMultiple),
        Fandoms: [],
        PersonId: @Model.Person.Id,
        IP1: @Json.Encode(Model.Person.GetInteractionPreferences().Contains(InteractionPreference.One)),
        IP2: @Json.Encode(Model.Person.GetInteractionPreferences().Contains(InteractionPreference.Two)),
        IP3: @Json.Encode(Model.Person.GetInteractionPreferences().Contains(InteractionPreference.Three)),
        IP4: @Json.Encode(Model.Person.GetInteractionPreferences().Contains(InteractionPreference.Four)),
        IP5: @Json.Encode(Model.Person.GetInteractionPreferences().Contains(InteractionPreference.Five))

    };

     window.FanMatchPersonData.AllFandoms = @Html.Raw(Json.Encode(Model.AllFandoms.Select(f => new { id = f.Id, value = f.Name })));

    @foreach (var fandom in Model.Person.Fandoms.OrderBy(f => f.Name))
    {
        <text>
    window.FanMatchPersonData.Fandoms.push({
        Name: "@fandom.Name",
        Population: @fandom.People.Count(),
        Id: @fandom.Id
    });


        </text>
        

    }


</script>

<div id="ReactContent"></div>


<script src="@Url.Content("~/Scripts/Person.jsx")"></script>
