﻿@{
    ViewBag.Title = "Delete Everybody";
}

<h2><blink>DESTROY ALL HUMANS</blink></h2>

<h1>Are you sure? This cannot be undone.</h1>

<form method="post" action="/Person/DestroyAllHumansConfirm">
    <button class="btn btn-danger btn-large" type="submit">Defnitely erase all people forever</button>
</form>