﻿@model IEnumerable<FanMatch.Models.Person>

@{
    ViewBag.Title = "People";
}

<h2>People</h2>


<form class="form-inline" method="post" action="/Person/New">
    <input type="text" placeholder="Name" name="name" />
    <button type="submit" class="btn btn-default">Add</button>
</form>

@Html.Partial("_PersonTable", Model)

<a class="btn btn-danger" style="margin-top: 7em" href="/Person/DestroyAllHumans">DESTROY ALL HUMANS</a>